
/*Main content area */

section {
    padding: 20px 20px 100px 50px;
    width: 45em;
    margin-left: 250px;
    align-self: center;
}


.end-subsection {
    margin-bottom: 2em;
}

/* adjust display for snaller screens */

@media only screen and (min-width: 501px) and (max-width: 850px) {
    section {
        padding: 20px;
        margin-left: 0px;
        width: 80vw;
    }
    .sidebar {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    section {
        padding: 20px;
        margin-left: 0px;
        width: 100vw;
    }
    .sidebar {
        display: none;
    }
    
}
