* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Hidden skip to main option for keyboard users */
a.skip-main {
    left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;
}

a.skip-main:focus {
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow: auto;
    margin: 0 35%;
    padding: 5px;
    font-size: x-large;
    outline: 3px solid red;
    background-color: #FFF;
    text-align: center;
    z-index: 999;
}

/* Header, top bar */

nav.header-menu {
    margin-left: auto;
    display: flex;
}

/* Sidebar, TOC navigation */
.left-column-wrapper {
    display: flex;
    flex-direction: column;
}
.sidebar {
    width: 250px;
    padding-top: 20px;
    padding-left: 20px;
    background-color: #F3F3F3;
    /*border-right: 1px solid grey;
    border-bottom: 1px solid grey;*/
    align-self: flex-start;
}

.left-column {
    background-color: #F3F3F3;
    flex: 1;
}

ul.toc-ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.toc a {
    display: block; /*makes whole area clickable*/
    text-decoration: none;
    color: var(--title-text-color);
    font-size: 1.2em;
    font-weight: 600;
}

li.toc-outer {
    padding: 5px 20px 10px 0px;
}

li.toc-outer:first-of-type {
    padding-top: 10px;
}

li.toc-inner {
    padding:10px 20px 0px 20px;
}

li.toc-inner:last-of-type {
    padding: 10px 20px 5px 20px;
}

/* End sidebar/TOC navigation */

/*Main content area */
.page-inner {
    display: flex;
}

article {
    padding: 20px 20px 100px 50px;
    width: 45em;
    align-self: center;
}

h1, h2, h3 {
    color: var(--near-seagreen);
}

h1 {
    font-size: 2.1em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.7em;
}

p {
    font-size: 1.3em;
    line-height: 2.1;
    margin-top: 1.5em;
}

p:last-of-type {
    margin-bottom: 3em;
}

.end-subsection {
    margin-bottom: 2em;
}

.centered-img {
    display: block;
    margin: 15px auto 10px auto;
    max-width: 100%;
    height: auto;
}
figcaption {
    color: grey;
}
/* Start rulesfor code samples */

code samp {
    font-family: "Lucida Console", Monaco, monospace;
}

pre {
    overflow: auto;
}

.terminal-box {
    font-size: 1.3em;
    background-color: hsl(222, 11%, 18%);
    color: #cfcfcf;
    line-height: 1.5;
    margin-top: 10px;
    padding-left: 5px;
}

.lime-text {
    color: hsl(120, 80%, 50%);
}

.lite-green-text {
    color: hsl(120, 73%, 75%); /*hex 90ee90 */
}

.dark-green-text {
    color: #228b22;
}

.comment-text {
    color: #c0c0c0;
}

.coral-text {
    color: hsl(350, 96%, 70%); /*color: #FB6583;*/
}

.gold-text {
    color: hsl(30, 96%, 75%); /*hex: FCBF7D?*/
}

.orange-text {
    color: #ff4500;
}

.code-box {
    font-size: 1.3em;
    background-color: hsl(0, 0%, 95%);
    color: #000000;
    line-height: 1.5;
    margin-top: 10px;
    padding-left: 5px;
}
.aqua-text {
    color: #00ffff;
}

.lite-blue-text {
    color: #1e90ff;
}

.blue-text {
    color: blue;
}

.teal-text {
    color: #007060;
}

.dark-red-text {
    color: #780000;
}

.purple-text {
    color: #630060;
}

.fuchsia-text {
    color: #ff00ff;
}

/* end rules for code samples */

/* adjust display for snaller screens */

@media only screen and (min-width: 501px) and (max-width: 850px) {
    article {
        padding: 20px;
        width: 80vw;
    }
    .sidebar {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    article {
        padding: 20px;
        max-width: 500px;
        width: 100vw;
    }
    .sidebar {
        display: none;
    }

    .terminal-box {
        overflow: auto;
        scroll-behavior: smooth;
    }
}
