:root {
    --title-text-color: saddlebrown;
    --title-text-size: xxx-large;
    --tagline-size: 1.5em;
    --topbar-bg: rgb(255, 255, 255);

    --archea_brown: saddlebrown;
    --archea_brown--lite: rgba(139, 69, 19, 0.05);
    --near-seagreen: #287D4D;
    --archea_green-blue: #27677c;
    --bg_light: #F3F3F3;

    --font_base: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    color: var(--near-seagreen);
}

h1 {
    font-size: 2.1em;
}

h2 {
    font-size: 2em;
    margin-top: 1.75rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.7em;
}

p {
    font-size: 1.3rem;
    line-height: 2.1;
    margin-top: 1rem;
}

a {
  color: var(--archea_green-blue);
}

a:focus-visible {
  outline: 0;
  box-shadow: 0 0px 4px 4px var(--near-seagreen);
}

a.withArrow:after {
  content: "\a0\21AA";
}

/* begin css for main content area */

.content {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}

section {
  width: 100%;
  max-width: 40.5rem;
}

.content h1 {
  margin: 1rem 0;
}

/* begin rules for footer */
footer {
    margin-left: 20px;
}

.footer-text {
    font-size: small;
}
/* end rules for footer */

/* adjust display for snaller screens */

@media only screen and (max-width: 690px) {

  p {
      font-size: 1.125rem;
      line-height: 2;
  }

}
