header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-bottom: 1px solid var(--archea_brown);
    box-shadow: 0 2px 6px 3px rgba(140, 70, 20, 0.4);
}

.upper-bar {
    display: flex;
    justify-content: space-between;
}

.upper-bar-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.archea-container {
  position: relative;
}

.archea-container img{
    width: 150px;
    height: auto;
    margin: 0.5rem 0.5rem 0 0.5rem;
}

.archea-container a:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.title {
  font-size: 3rem;
  color: var(--title-text-color);
  align-self: center;
}

.title a {
  color: var(--title-text-color);
  text-decoration: none;
}

.menu-bar {
    background-color: var(--near-seagreen); /*near seagreen */
    display: flex;
}

nav.header-menu {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    background-color: var(--topbar-bg);
    position: relative;
}

.nav-items {
  display: flex;
}

.nav-items a {
  text-decoration: none;
  color: var(--title-text-color);
}

.nav-item {
    font-size: 1.3em;
    font-weight: 600;
    color: var(--title-text-color);
    padding: 2px 1rem;
    background-color: var(--topbar-bg);
}

.rss {
  position: relative;
}

.rss a:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.rss a:after {
  content: "";
  background-image: url('../images/rssIcon.svg');
  height: 1rem;
  width: 1rem;
  background-size: 1rem 1rem;
  background-repeat: no-repeat;
  display: inline-block;
}

.header-menu label, #hamburger {
  display: none;
}

.hamburger {
  position: relative;
  display: inline-block;
  width: 1.25rem;
  height: 1.2rem;
  border-top: 0.2rem solid var(--archea_brown);
  border-bottom: 0.2rem solid var(--archea_brown);
  margin: 0.25rem 0.75rem;
}

.hamburger:before {
  content: "";
  position: absolute;
  top: 0.3rem;
  left: 0;
  width: 100%;
  border-top: 0.2rem solid var(--archea_brown);
}

@media only screen and (max-width: 950px) {

  .archea-container img {
      width: 16vw;
      min-width: 4.7rem;
  }
}

@media only screen and (min-width: 769 px) and (max-width: 950px) {

  .title{
      font-size: 2,75rem;
  }
}

@media only screen and (max-width: 768px) {

  .header-menu label {
    display: inline-block;
  }

  .header-menu input:checked ~ .nav-items {
    display: block;
    position: absolute;
    top: 2rem;
    right: 0;
  }

  .nav-items {
    display: none;
    min-width: 8rem;
    z-index: 10;
    background: white;
    box-shadow: -2px 2px 4px rgba(120, 50, 0, 0.2);
  }

  .nav-item {
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    background: var(--archea_brown--lite);
    border-bottom: 2px solid rgba(139, 69, 19, 0.25);
  }
}

@media only screen and (min-width: 501px) and (max-width: 768px) {

  .title{
      font-size: 2.5rem;
  }

  .archea-container img {
      width: 16vw;
      min-width: 4.7rem;
  }
}


@media only screen and (max-width: 500px) {

  .title{
      font-size: 2rem;
      margin: 0 0.75rem;
  }

  header {
      border-bottom: none;
  }
}
